<div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let Person of People">
	<div class="profile-circle">
		<div class="hover-content ">
			<img class="img-responsive" alt="Our team" [src]="Person.personImage">
			<div class="content-circle content-center" *ngIf="Person.personGoogle || Person.personTwitter || Person.personLinkedIn || Person.personFacebook">
				<ul class="circle-icons text-center icons-list">
					<li *ngIf="Person.personGoogle">
						<a href="https://plus.google.com/{{Person.personGoogle}}" Target="_blank" title="Follow me">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
					<li *ngIf="Person.personTwitter">
						<a href="https://twitter.com/{{Person.personTwitter}}" Target="_blank" title="Follow me">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li *ngIf="Person.personLinkedIn">
						<a href="https://www.linkedin.com/in/{{Person.personLinkedIn}}" Target="_blank" title="Follow me">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li *ngIf="Person.personFacebook">
						<a href="https://www.facebook.com/{{Person.personFacebook}}" Target="_blank" title="Follow me">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<h3>{{Person.personName}}
		<small>{{Person.personTitle}}</small>
		<small>{{Person.personDescription}}</small>
	</h3>
		<div class="space-sm"></div>
		<div class="space-sm"></div>
	</div>
</div>