<p>
  person-team-member works!
</p>


<!--
  <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="person in people | filter:{ isActive: true } | filter:{ isLeader: false }">
	<div class="profile-circle">
		<div class="hover-content ">
			<img class="img-responsive" alt="Our team" ng-src="{{person.personImage}}">
			<div class="content-circle content-center" ng-show="person.personGoogle || person.personTwitter || person.personLinkedIn || person.personFacebook">
				<ul class="circle-icons text-center icons-list">
					<li ng-show="person.personGoogle">
						<a href="https://plus.google.com/{{person.personGoogle}}" Target="_blank" title="Follow me">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
					<li ng-show="person.personTwitter">
						<a href="https://twitter.com/{{person.personTwitter}}" Target="_blank" title="Follow me">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li ng-show="person.personLinkedIn">
						<a href="https://www.linkedin.com/in/{{person.personLinkedIn}}" Target="_blank" title="Follow me">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li ng-show="person.personFacebook">
						<a href="https://www.facebook.com/{{person.personFacebook}}" Target="_blank" title="Follow me">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<h3>{{person.personName}}
		<small>{{person.personTitle}}</small>
		<small>{{person.personDescription}}</small>
	</h3>
		<div class="space-sm"></div>
		<div class="space-sm"></div>
	</div>
</div>
-->