<div>
  <section class="bg-16 bg-center bg-cover">
    <div class="bg-filter-v2 filling-section">
      <div class="v-center h-center text-center">
        <div class="section container">
          <h1 class="top-title">{{PageTitle}}</h1>
          <p class="big-subtitle text-light w800">{{PageSubtitle}}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="section-lg">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h2 class="text-primary wow fadeIn" data-wow-delay="0.2s" id="responsive_headline">Our Purpose</h2>
        </div>
        <p class="text-block">
          Insurance covers most of the cost for the living donor for the actual testing, but the out-of-pocket cost for living donors’
          and recipients’ procedures for capability testing can be mind blowing for both parties involved. Aside from the
          medical fees, like co-pays, often times traveling expenses can include flying, lodging, food, rental cars and more.
          We wish to assist the partnership of living donor and recipient in these financial aspects as well as assisting
          in the emotional roller-coaster that is the process of having a successful transplant surgery.
        </p>
      </div>
    </div>
  </div>
  <section class="bg-grey  section-lg ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-primary wow fadeIn" data-wow-delay="0.2s" id="responsive_headline">How we got started</h2>
          <p class="text-block wow fadeIn" data-wow-delay="0.4s">
            It all started with a Facebook page. In August of 2014 the Beers Family started a Facebook paged titled, “Daddy Needs a Kidney”
            in hopes of finding a living donor for a father of twin boys. The father suffers from PKD, Polycystic Kidney
            Disease. In April of 2015 the page had found its way to the Fortunato family. The Beers knew Mr. Fortunato for
            many years and he brought the page to the attention of his new wife. On the spot it was decided she would see
            if she was a match and candidate to be a Living Donor. The Beers Family was living in Maryland at the time and
            the Fortunato Family is located in Southern California. Many tests had to be completed. Some were conducted in
            southern California but with the insurance billing it proved to be difficult to get all the testing done without
            traveling to the transplant center across the country. This trip would consist of days a testing, thus acquiring
            many expenses that are not covered by insurance. If testing came back and Mrs. Fortunato was not a match or for
            other reasons unable to donate a kidney, the Beers Family would have to do this process all over again with someone
            else. Through this the Fortunato Family decided to Fundraise for the Beers Family to cover costs associated with
            the transplant surgery. The relationship that developed between the donor family and recipient family sparked
            the idea of having a non-profit to support similar partnerships. To help both living donors and recipients in
            the financial struggle of transplant surgeries.
          </p>
          <div class="space-sm visible-xs visible-sm"></div>
        </div>
        <div class="col-md-6">
          <h2 class="text-primary wow fadeIn" data-wow-delay="0.5s">Why we got started</h2>
          <p class="text-block  wow fadeIn" data-wow-delay="0.7s">
            Many assistant programs are available for the recipient but few are out there for the donor. None look at the partnership
            of the donor and recipient and look to help both. This is the need that was acknowledged when our founder decided
            to start this company. We looked at not only the needs of the recipient, but also the donor and their families.
            There are many families out there looking and in need of a living donor to save a loved one, but mostly due to
            financial reasons living donors are becoming scarce. The need for advocacy for the importance of living donors
            and for financial assistance to these donors and their recipients is huge. We got started to help fill this void.
            To fill in where insurance stops and to promote the importance and need for living donors.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-11 bg-center bg-fixed">
    <div class="filling-section bg-filter-v1"></div>
  </div>
  <div class="section-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6 wow fadeIn" data-wow-delay="1s"></div>
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="1s">
          <div class="text-center">
            <i class="fa fa-users icon-o"></i>
            <h3 class="text-primary">Our Mission</h3>
            <p class="text-grey">
              To educate, bring awareness,<br> facilitate, and ease the financial<br> burden of the partnership between<br>              donor and recipient.
            </p>
          </div>
          <div class="space visible-xs visible-sm"></div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="1.1s">
          <div class="text-center">
            <i class="fa fa-paper-plane-o icon-o"></i>
            <h3 class="text-primary">Our Vision</h3>
            <p class="text-grey">
              Envisioning a future where the<br> partnership between donor and<br> recipient can be free of financial burden
            </p>
          </div>
          <div class="space visible-xs visible-sm"></div>
        </div>
        <div class="col-md-2 col-sm-6 wow fadeIn" data-wow-delay="1s"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 wow">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2 class="text-primary">Our<br> Principles
        </h2><small class="text-grey month">established, committed to, and communicated</small>
        <div class="space"></div>
        <ul class="list-unstyled info-list md-list">
          <li><span class="text-primary">Vision</span> Vision propels your business forward, inspires creativity, ignites purpose
            and passion, and fosters growth. With vision, all things are possible.</li>
          <li><span class="text-primary">Perception</span> Perception creates reality. A company who manages the perception of
            their market achieves great things.</li>
          <li><span class="text-primary">Leadership</span> Every great company needs a great leader. A great leader learns from
            the past, looks into and plans for the future.</li>
          <li><span class="text-primary">Reputation</span> Anything worth building is worth protecting. A company’s reputation
            is its most valuable asset and needs to be protected.</li>
          <li><span class="text-primary">Consistency</span> Consistency builds credibility. Credibility allows a business to
            experience longevity.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 wow">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2 class="text-primary">Our<br> Pillars
        </h2><small class="text-grey month">supporting, integral, or upstanding</small>
        <div class="space"></div>
        <ul class="list-unstyled info-list md-list">
          <li><span class="text-primary">Integrity</span> Doing what is right even when no one else is around. Acting with honesty
            and being consistent in whatever you do based on your particular morals, values, or belief compass.</li>
          <li><span class="text-primary">Compassion</span> Suffering together. Having concern for those suffering, and choosing
            to make a difference in their lives.</li>
          <li><span class="text-primary">Selflessness</span> Putting others before yourself. Acting altruistically. Giving to
            others without regard for personal gain.</li>
          <li><span class="text-primary">Sustainability</span> Managing financial, social, and environmental risks, obligations,
            and opportunities for the betterment of the company.</li>
        </ul>
        <div class="space"></div>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <div class="panel panel-default bg-grey-4 text-center wow fadeIn" data-wow-delay="0s">
    <div class="panel-body">
      <h4 class="wow fadeIn" data-wow-delay="0.25s">Feel free to contact us if you are interested in making a difference!</h4>
      <div class="space-sm"></div>
      <ul class="list-inline wow fadeIn" data-wow-delay="0.5s">
        <li>
          <a class="btn btn-primary scroll" href="#/volunteer"><i class="fa fa-envelope"></i>{{ContactData.email}}</a>
        </li>
        <li>
          <a class="btn btn-primary-trn" href="javascript:void(0);"><i class="fa fa-phone"></i>{{ContactData.phone}}</a>
        </li>
      </ul>
    </div>
  </div>
  <section class="section-lg">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>
  <section class="bg-9 bg-center bg-fixed">
    <h5 class="sr-only">Photo of Macbook Pro</h5>
    <div class="filling-section bg-filter-v1"></div>
  </section>
</div>
